doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title
      | QuikSession #{title}
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width')
    style(type='text/css').
      body, html {
      margin: 0px;
      padding: 0px;
      -webkit-font-smoothing: antialiased;
      text-size-adjust: none;
      width: 100% !important;
      }
      #outlook a {
      padding: 0px;
      }
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
      line-height: 100%;
      }
      .ExternalClass {
      width: 100%;
      }
      @media only screen and (max-width: 480px) {
      table tr td table.edsocialfollowcontainer {
      width: auto !important;
      }
      table, table tr td, table td {
      width: 100% !important;
      }
      img {
      width: inherit;
      }
      .layer_2 {
      max-width: 100% !important;
      }
      .edsocialfollowcontainer table {
      max-width: 25% !important;
      }
      .edsocialfollowcontainer table td {
      padding: 10px !important;
      }
      }
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css')
  body(style='padding:0; margin: 0;background: #efefef')
    table(style='height: 100%; width: 100%; background-color: #efefef;' align='center')
      tbody
        tr
          td#dbody(data-version='2.31' valign='top' style='width: 100%; height: 100%; padding-top: 30px; padding-bottom: 30px; background-color: #efefef;')
            //if (gte mso 9)|(IE)
              table(align='center' style='max-width:600px' width='600' cellpadding='0' cellspacing='0' border='0')
                tbody
                  tr
                    td(valign='top')
            table.layer_1(align='center' cellspacing='0' cellpadding='0' border='0' style='max-width: 600px; box-sizing: border-box; width: 100%; margin: 0px auto;')
              tbody
                tr
                  td.drow(align='center' valign='top' style='background-color: #efefef; box-sizing: border-box; font-size: 0px; text-align: center;')
                    //if (gte mso 9)|(IE)
                      table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
                        tbody
                          tr
                            td(valign='top')
                    .layer_2(style='max-width: 300px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' border='0')
                        tbody
                          tr
                            td.edtext(valign='top' style='padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;')
                              p(style='text-align: left; font-size: 9px; margin: 0px; padding: 0px;')
                                | #{header}!!
                    //if (gte mso 9)|(IE)
                    .layer_2(style='max-width: 300px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' border='0')
                        tbody
                          tr
                            td.edtext(valign='top' style='padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;')
                              p(style='text-align: right; font-size: 9px; margin: 0px; padding: 0px;')
                                | Unable to view? Read it 
                                a(href='{view}' style='font-size: 9px; color: #828282; font-family: Helvetica, Arial, sans-serif; text-decoration: none;') Online
                    //if (gte mso 9)|(IE)
                tr
                  td.drow(align='center' valign='top' style='background-color: #efefef; box-sizing: border-box; font-size: 0px; text-align: center;')
                    //if (gte mso 9)|(IE)
                      table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
                        tbody
                          tr
                            td(valign='top')
                    .layer_2(style='max-width: 600px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' cellpadding='0' border='0')
                        tbody
                          tr
                            td.edimg(valign='top' style='padding: 20px; box-sizing: border-box; text-align: center;')
                              img(src='https://quiksession.com/assets/logo.png' alt='Image' style='border-width: 0px; border-style: none; max-width: 177px; width: 100%;' width='177')
                    //if (gte mso 9)|(IE)
                tr
                  td.drow(align='center' valign='top' style='background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;')
                    //if (gte mso 9)|(IE)
                      table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
                        tbody
                          tr
                            td(valign='top')
                    .layer_2(style='max-width: 600px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' cellpadding='0' border='0')
                        tbody
                          tr
                            td.emptycell(valign='top' style='padding: 20px;')
                    //if (gte mso 9)|(IE)
                tr
                  td.drow(align='center' valign='top' style='background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;')
                    //if (gte mso 9)|(IE)
                      table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
                        tbody
                          tr
                            td(valign='top')
                    .layer_2(style='max-width: 600px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' border='0')
                        tbody
                          tr
                            td.edtext(valign='top' style='padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;')
                              p.style1(style='margin: 0px; padding: 0px; color: #616262; font-size: 28px; font-family: Helvetica, Arial, sans-serif;')
                                | One more 
                                span(style='color: #05a49a;') step...
                              p(style='margin: 0px; padding: 0px;')
                                | #{bodyTitle}!!
                    //if (gte mso 9)|(IE)
                tr
                  td.drow(align='center' valign='top' style='background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;')
                    //if (gte mso 9)|(IE)
                      table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
                        tbody
                          tr
                            td(valign='top')
                    .layer_2(style='max-width: 600px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' border='0')
                        tbody
                          tr
                            td.edtext(valign='top' style='padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;')
                              p(style='margin: 0px; padding: 0px;')
                                | #{bodyDescription}!!!.
                    //if (gte mso 9)|(IE)
                tr
                  td.drow(align='center' valign='top' style='background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;')
                    //if (gte mso 9)|(IE)
                      table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
                        tbody
                          tr
                            td(valign='top')
                    .layer_2(style='max-width: 600px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' border='0')
                        tbody
                          tr
                            td.edbutton(valign='top' style='padding: 20px;')
                              table(style='text-align: center;margin:0 auto;' align='center' cellspacing='0' cellpadding='0')
                                tbody
                                  tr
                                    td(align='center' style='border-radius: 4px; padding: 12px; background: none 0% 0% repeat scroll #8e1f2c;')
                                      a(href="#{buttonLink}" target='_blank' style='color: #ffffff; font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-decoration: none; display: inline-block;')
                                        span(style='color: #ffffff;') #{buttonText}
                                    td(align='center' style='padding: 12px; background: none 0% 0% repeat scroll #ffffff;')
                                      a(href="#{cancelLink}" target='_blank' style='color: #00000; font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-decoration: none; display: inline-block;')
                                        span(style='color: #000000;') Cancel
                    //if (gte mso 9)|(IE)
                tr
                  td.drow(align='center' valign='top' style='background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;')
                    //if (gte mso 9)|(IE)
                      table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
                        tbody
                          tr
                            td(valign='top')
                    .layer_2(style='max-width: 600px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' border='0')
                        tbody
                          tr
                            td.edtext(valign='top' style='padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;')
                              p.text-center(style='text-align: center; margin: 0px; padding: 0px;')
                                | Need some help? Feel free to 
                                a(href='#{contactLink}' style='color: #828282; font-size: 14px; font-family: Helvetica, Arial, sans-serif; text-decoration: none;') contact us
                                | .
                    //if (gte mso 9)|(IE)
                tr
                  td.drow(align='center' valign='top' style='background-color: #ffffff; box-sizing: border-box; font-size: 0px; text-align: center;')
                    //if (gte mso 9)|(IE)
                      table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
                        tbody
                          tr
                            td(valign='top')
                    .layer_2(style='max-width: 600px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' cellpadding='0' border='0')
                        tbody
                          tr
                            td.emptycell(valign='top' style='padding: 10px;')
                    //if (gte mso 9)|(IE)
                tr
                  td.drow(align='center' valign='top' style='background-color: #efefef; box-sizing: border-box; font-size: 0px; text-align: center;')
                    //if (gte mso 9)|(IE)
                      table(width='100%' align='center' cellpadding='0' cellspacing='0' border='0')
                        tbody
                          tr
                            td(valign='top')
                    .layer_2(style='max-width: 600px; display: inline-block; vertical-align: top; width: 100%;')
                      table.edcontent(style='border-collapse: collapse;width:100%' cellspacing='0' border='0')
                        tbody
                          tr
                            td.edtext(valign='top' style='padding: 20px; text-align: left; color: #5f5f5f; font-size: 14px; font-family: Helvetica, Arial, sans-serif; direction: ltr; box-sizing: border-box;')
                              p(style='text-align: center; font-size: 10px; margin: 0px; padding: 0px;')
                                | If you no longer wish to receive mail from us, you can 
                                a(href='#{unsubscribeLink}' style='background-color: initial; font-size: 10px; color: #828282; font-family: Helvetica, Arial, sans-serif; text-decoration: none;') Unsubscribe
                                br
                                | #{unsubscribeLink}
                              p(style='text-align: center; font-size: 10px; margin: 0px; padding: 0px;')
                                | Call us to #{phoneNumber}
                    //if (gte mso 9)|(IE)
                    //if (gte mso 9)|(IE)
